em {
  background: cyan;
  font-style: normal;
}

.header {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 0.5rem 1rem;
  background-image: linear-gradient(to right, #8e43e7, #00aeff);
  color: #fff;
  margin-bottom: 1rem;
}

.header a {
  color: #fff;
  text-decoration: none;
}

.header-title {
  font-size: 1.2rem;
  font-weight: normal;
}

.header-title::after {
  content: ' ▸ ';
  padding: 0 0.5rem;
}

.header-subtitle {
  font-size: 1.2rem;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem;
}

.search-panel {
  display: flex;
}

.search-panel__filters {
  flex: 1;
}

.search-panel__results {
  flex: 3;
}

.searchbox {
  margin-bottom: 2rem;
}

.pagination {
  margin: 2rem auto;
  text-align: center;
}

body {
  font-family: sans-serif;
}

.ais-SearchBox {
  margin: 1em 0;
}
.ais-Pagination {
  margin-top: 1em;
}
.left-panel {
  float: left;
  width: 250px;
}
.right-panel {
  margin-left: 260px;
}

.ais-Hits-item {
  width: 48%;
}

article h4 {
  color: #5468ff;
  text-align: center;
}

.navbar {
  background: #00b4db; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #0083b0,
    #00b4db
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white !important;
}

.navbar-brand {
  color: white !important;
}

.navbar-brand a {
  text-decoration: none;
  color: white !important;
}

.pageContainer {
  min-height: 100vh;
  position: relative;
}

.ais-InstantSearch {
  padding-bottom: 250px;

}

.footer-copyright {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-copyright p {
  margin: 0;
}

.bottom-footer a {
  color: gray;
}

.bottom-footer a:hover,
.bottom-footer a:focus,
.bottom-footer a:active {
  text-decoration: none;
  color: inherit;
}

.top-footer {
  background-color: #dddddd;
}

.top-footer a {
  color: blue;
}

.bottom-footer {
  background-color: #eeeeee;
}

.enter {
  white-space: pre-line;
}

@media (max-width: 600px) {
  .ais-Hits-item {
    width: 100%;
  }
  .right-panel {
    margin-left: 0;
  }
}
